.main{
    background: #008000;
    flex: 1 1 100%;
    padding: 20px 0;
}

.block_2{
    padding: 100px 0;
    opacity:0;
    max-height: 0;
    height: 100%;
}

.active{
    opacity: 1;
    background: red;
    transition: .75s;
    display: block;
    max-height: 100%;
}

button {
    background: transparent;
    padding: 20px;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 40px;
    cursor: pointer;
    transition: 0.35s;
    &:hover {
        color: gold;
        border: 1px solid gold;
    }
}

.todos__item {
    margin-top: 50px;
    display: flex;
    gap: 40px;
}